{
    "prefix": "ap ",
    "token": "token!",
    "owners": [403308385539194880],
    "playing": "ap help",
    "playing_type": "",
    "status": "dnd",
    "accent_color": "000", (do not remove this!)
    "error_reporting": "",
    "guild_log": "",
    "message_logging": ""
}
